/* Add the correct display in IE10 */

[hidden] {
	display: none;
}

div {
	margin: 0 auto;
}

h1 {
	margin-left: 1%;
}

fieldset {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2.5em;
}

legend {
	text-align: center;
	border: none;
}

p label {
	display: inline-block;
	text-align: right;
	width: 45%;
}

input[type="text"] {
	width: 23%;
}

.buttoncenter {
	text-align: center;
	margin-top: 1.5em;
}

.pcenter {
	text-align: center;
	margin-top: 1.5em;
	font-size: 1.5em;
}