html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1 {
	text-align: center;
}

h3 {
	margin-left: 5%;
}

select {
	margin-left: 7%;
	display: inline;
	margin-bottom: 3em;
}

legend {
	border: none;
}

p {
	font-size: 1.5em;
}

button {
	margin-bottom: 2em;
}

.container {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.small {
	font-size: 1.2em;
}

.block {
	vertical-align: top;
	margin: 0 auto;
}

.centered {
	text-align: center;
}

.the-header {
	text-align: center;
	margin-bottom: 2em;
}

.shift {
	margin-left: 20px;
}

.shift:last-child {
	margin-bottom: 20px;
}

#cups {
	margin-bottom: 2em;
	font-size: 1.5em;
}