h1 {
	margin-left: 1%;
}

div {
	border: 2px solid #ccc;
	border-radius: 10%;
	width: 50%;
	margin: 0 auto;
}

fieldset {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2.5em;
}

p label {
	display: inline-block;
	text-align: right;
	width: 30%;
}

input[type="text"] {
	width: 400px;
}

.buttoncenter {
	text-align: center;
	margin-top: 1.5em;
}

.pcenter {
	text-align: center;
	margin-top: 1.5em;
	font-size: 1.5em;
}